@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    margin: 1em 3em;
    font-family: 'Roboto', sans-serif;
}

