@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: lightgrey;
}

body{
    height: 100vh;
    margin: 1em 3em;
    color: lightgrey;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

