/* Top Header portion*/
.Top-Header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #df2935;
  font-family: "Poppins", sans-serif;
  padding: 1em 1em 1em 1em;
}

.Header-Name {
  font-size: 2em;
  color: white;
  display: flex;
}

.Header-Intro {
  font-size: 0.5em;
  color: black;
}

.Navigation-Content {
  font-size: 1rem;
  margin-left: auto;
  text-align: right;
}

.Navigation-Contact {
  background-color: #ffec51;
  border-radius: 10px;
  color: black;
  padding: 0.3em 1em;
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 0.6em;
}

.Navigation-Main {
  display: flex;
}

.Navigation-Link {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 2em;
  margin-top: auto;
}

.Logo-Container {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.Logo-Container {
  margin-top: 10px;
}

.w-6 {
  height: 1em;
  width: 1em;
  margin-top: 4px;
}

/*Main*/
/*Block-One*/
.Block-One {
  max-height: 50em;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.BadPicture {
  border: 5px solid black;
  border-radius: 10px;
  width: 500px;
  height: 500px;
}

.Picture {
  margin: auto;
}

.Quote {
  font-size: 7em;
  text-align: center;
}
/*Block-Two*/
.Block-Two {
  background-color: #df2935;
  border-radius: 10px;
  padding: 1em;
  display: grid;
  grid-template-areas:
    "Sub-Header Sub-Header Sub-Header"
    "One Two Three";
}

.Sub-Header {
  grid-area: Sub-Header;
  font-size: 3em;
  text-align: center;
}

.Skill {
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

.One {
  grid-area: One;
}

.Two {
  grid-area: Two;
}

.Three {
  grid-area: Three;
}

.Skill-Icon {
  background-color: #fdca40;
  border: 4px solid black;
  border-radius: 100%;
  padding: 0.5em;
}

/*Block-Four*/
.Block-Four {
  height: 20em;
}

/*Footer*/
footer {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-areas: 
  "FooterOne  . . . . FooterTwo"
  " FooterThree FooterThree FooterThree FooterThree FooterThree FooterThree "
  "FooterFour FooterFour FooterFour FooterFour FooterFour FooterFour"
  ;
  height: 17em;
  width: 100%;
  padding: 2em 5em;
  background-color: #df2935;
}

.Section-One{
grid-area: FooterOne;
display: flex;
flex-direction: column;
margin-left: 1em;
font-size: 1.1em;
width: 2em;
}

.Footer-SubHeader{
  margin-bottom: 1em;
  color: white;
}

.Footer-Link{
margin-bottom: 10px;
text-emphasis-style: ;
}

.Section-Two{
  grid-area: FooterTwo;
  display: flex;
  justify-content: right;
}

.Section-Three{
  grid-area: FooterThree;
  margin: 10px;
  height: 10px;
}

.Section-Four{
  grid-area: FooterFour;
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  color: white;
}

.Footer-Icon{
  width: 50px;
  height: 50px;
  margin: 0 1em;
}

/*Media query*/


