.Top-Header{
    display: flex;
}

.Header-Name{
    font-size: 2.5em;
    margin-bottom: auto;
}

.Header-Intro{
    font-size: 0.5em;
}

.Navigation-Content{
    font-size: 1.5rem;
    margin-left: auto;
    text-align: right;
}

.Navigation-Contact{
    background-color: gray;
    color: black;
    padding: 0.3em 1em;
    max-width: fit-content;
    margin-left: auto;
    margin-bottom: 0.6em;
}

.Navigation-Main{
    display: flex;
}

.Navigation-Link{
    list-style: none;
    margin-left: 1em ;
}

